.button_reg {
    background-color: var(--primary-900);
    border-radius: var(--space-extra-small);
    color: var(--white);
    font-size: var(--font-size-extra-small);
    padding: var(--space-extra-small);
    width: fit-content;
    height: auto;
}
