/* Extra small devices  */
@media (min-width: 200px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow-white);
    border-radius: var(--space-large);
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-900);
    gap: 1rem;
    font-size: var(--font-size-extra-small);
  }
  .logo {
    width: 24px;
    height: auto;
  }
}

/* Regular iphone and tablet */

@media (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow-white);
    border-radius: var(--space-large);
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-900);
    gap: 1rem;
    font-size: var(--font-size-small);
  }
  .logo {
    width: 24px;
    height: auto;
  }
}

/* Laptops Desktop Devices */
@media (min-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    width: 1200px;
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-900);
    gap: 1rem;
    font-size: var(--font-size-medium);
  }
  .logo {
    width: var(--space-large);
    height: auto;
  }
}

/* Extra large Desktop Devices */
@media (min-width: 1300) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow-white);
    border-radius: var(--space-large);
  }
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-900);
    gap: 1rem;
    font-size: var(--font-size-medium);
  }
  .logo {
    width: 24px;
    height: auto;
  }
}
