/* Extra small devices  */
@media (min-width: 200px) {
    .footer_container {
        display: flex;
        flex-direction: row;
        gap: var(--space-extra-small);
        align-items: flex-start;
        padding: 1rem;
        background-color: var(--primary-100);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-extra-small);
    }
    .logo {
        width: 24px;
        height: auto;
    }

    .container_logo_connection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .connection_links {
        display: flex;
        flex-direction: row;
        gap: var(--space-extra-small);
    }
    .connection {
        width: 16px;
        height: auto;
    }
}

/* Regular iphone and tablet */

@media (min-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-small);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}

/* Laptops Desktop Devices */
@media (min-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-medium);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}

/* Extra large Desktop Devices */
@media (min-width: 1300) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-medium);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}
