.tag_highlight_container {
    background-color: var(--primary-100);
    border-radius: var(--space-extra-small);
    padding: var(--space-extra-small) var(--space-small);
}

.tag_regular_container {
    background-color: var(--primary-100);
    border-radius: var(--space-extra-small);
    padding: var(--space-extra-small) var(--space-small);
}
.tag_regular_text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    text-align: center;
}
.tag_highlight_text {
    color: var(--primary-800);
}
