@media (min-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-extra-small);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}

@media (min-width: 1000px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-small);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}

@media (max-width: 1300px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: var(--white);
    }
    .navLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-900);
        gap: 1rem;
        font-size: var(--font-size-medium);
    }
    .logo {
        width: 24px;
        height: auto;
    }
}
