.tag_regular_container {
    display: flex;
    align-items: center;

    background-color: var(--white);
    border-radius: var(--space-extra-small);
    box-shadow: var(--box-shadow-white);
    width: fit-content;
    height: auto;
    padding: var(--space-extra-small);
}
.tag_regular_text {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--primary-500);
    text-align: center;
}

.tag_highlighted_container {
    display: flex;
    align-items: center;

    background-color: var(--white);
    border-radius: var(--space-extra-small);
    box-shadow: var(--box-shadow-white);
    width: fit-content;
    height: 24px;
    padding: 0px var(--space-extra-small);
}
.tag_highlighted_text {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    color: var(--primary-900);
    text-align: center;
}
