.book {
  position: relative;
  width: 50px;
  height: 280px;
  display: flex;
  justify-content: flex-end;
  transform: translateZ(0) rotateY(0);
  transform-style: preserve-3d;
}

.spine {
  position: relative;
  width: 50px;
  height: 250px;
  background-color: var(--primary-900);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-small) 0;
  color: var(--white);
  font-size: var(--font-size-small);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-radius: var(--space-extra-small);
  transform: rotateY(0) translateZ(0);
}

.cover {
  position: absolute;
  width: 190px;
  height: 250px;
  left: 50px;
  top: 0px;
  bottom: 0;
  transform: rotateY(90deg) translateZ(0);
  border-radius: var(--space-extra-small);
  background-color: var(--primary-700);
  transition: transform 1s;
}

.title {
  font-weight: var(--font-weight-bold);
}

.top {
  position: absolute;
  top: -2px;
  width: 50px;
  height: 190px;
  border-radius: var(--space-extra-small) var(--space-extra-small) 0 0;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
  background-color: var(--primary-700);
  background-size: var(--space-small);
}

.side {
  border: 2px solid var(--primary-700);
  border-radius: var(--space-extra-small);
  transform-origin: center left;
}

.book:hover {
  z-index: 1;
  transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px)
    translateX(-30px);
}

/*Full 3D book with Hovering*/
.fullBook {
  position: relative;
  width: 50px;
  height: 280px;
  transform-style: preserve-3d;
}

.front_full {
  position: absolute;
  width: 190px;
  height: 280px;
  background-color: var(--primary-700);
  transform: translate3d(0, 0, 35px);
}

.back_full {
  position: absolute;
  width: 190px;
  height: 280px;
  background-color: var(--primary-700);
  transform: rotateY(180deg) translate3d(35px);
}

.side_full {
  position: absolute;
  width: 50px;
  height: 280px;
  background-color: var(--primary-900);
  transform: rotateY(90deg) translate3d(-15px, 0, -28px);
}

.pages_full {
  width: 50px;
  height: 280px;
  background-color: var(--white);
  transform: rotateY(90deg) translate3d(-15px, 0, 165px);
}

.top_full {
  position: absolute;
  width: 190px;
  height: 50px;
  background-color: var(--white);
  transform: rotateX(90deg) translate3d(0, 15px, 305px);
}

.bottom_full {
  position: absolute;
  width: 190px;
  height: 50px;
  background-color: var(--white);
  transform: rotateX(-90deg) translate3d(0, -15px, -25px);
}
